<form method="post" action="/Owners">
    <label for="Name">Name:</label>
    <input type="text" id="Name" name="Name"></input>
    <br>
    <label for="Age">Age:</label>
    <input type="number" id="Age" name="Age"></input>
    <br>
    <button type="Submit">Create Owner</button>
</form>